.idea
.DS_Store
bin
xtend-gen
build
.gradle
.launch

*.frame
docbook-tools/docbook-adapter/development
docbook-tools/docbook-adapter/bin
docbook-tools/docbook-adapter/bin/main/tag_transformations/test_layer.xsl
docbook-tools/docbook-adapter/src/main/resources/tag_transformations/test_layer.xsl