/* Class:
 * table.getTable: Table created by getTable tag
 * tr.inLineHeader: Header row created by inlineTable tag 
 * table.changeLog: Table created by changeLog tag 
 * tr.getTableHeader: Header row created by getTable
 * tr.addHeader: Additional header row created by the addHeader child tag*/
 
/* --------------------------------------------------------------------- */

/* Set border collapse for all tables */
table {
    border-collapse: collapse;
}

/* Styling for the header for tables created in the inlineTable tag
 * Set the background color to a light green
 */
tr.inlineHeader {
    background-color: #BFDFBF;
}

tr.addHeader {
    background-color: #80bfff;
}